.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100vw;
  display: none;
  overflow: hidden;
}
.overlay.open {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 1s;
  animation: forwards modalanimation 0.5s;
}

.custom-modal {
  background: #fafafa;
  color: black;
  border-radius: 10px;
  position: relative;
  padding: 30px;
  animation: modalIntro 0.5s forwards;
}

.custom-modal span {
  position: absolute;
  right: 2%;
  top: 1%;
  margin: 5px;
  z-index: 50;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}
.custom-modal span:active {
  transform: scale(0.9);
}

@keyframes modalanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modalIntro {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
