.jumbotron {
  background: rgb(29, 53, 87);
  background: linear-gradient(
    90deg,
    rgba(29, 53, 87, 1) 0%,
    rgba(110, 141, 144, 1) 50%,
    rgba(69, 123, 157, 1) 100%
  );
  color: rgb(0, 0, 0);
}
