.jumbotron.jumbotron-color {
  background-color: #219ebc;
  color: #202020;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3),
    inset 0px 0px 150px rgba(73, 24, 1, 0.35);
  background-color: #f7f7f7;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#dedede 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  box-sizing: border-box;
  height: 10vh;
}
.jumbotron.jumbotron-color h3 {
  font-size: xx-large;
  font-weight: bold;
  text-justify: auto;
}
