* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
td:hover td:active {
  background: rgba(5, 5, 5, 0.5);
}
.selected {
  background: #ffce54f9;
}
.tableWrapper {
  position: relative;
  height: 75vh;
  overflow: auto;
  display: block;
}
